<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Original {{title}}</title>
    <link rel="stylesheet" href="css/main.css">
    {{!-- <style>
        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .footer{
            width: 100%;
            height: 50px;
            background-color: #0a183d;
            margin-top: auto;
        }
        .footer p{
            text-transform: capitalize;
            text-align: center;
            color: white;
            line-height: 50px;
        }
    </style> --}}
</head>
<body>
    {{>navbar}}
    <h1>i am home page.</h1>
    {{>Footer}}
</body>
</html>